# Python virtualenv files
/.venv/

# User's environment settings
/.env

# DBT logs
/logs/

# DBT target dir
/target/

# DBT packages
/dbt_packages/
/package-lock.yml 

# files that we don't want committed
/uncommitted/*
!/uncommitted/README.md